<div class="card">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title col">{{ card.symbol }}</h4>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{card.id}}" (change)="setSwitch()" [checked]="check" [disabled]="disable">
                <label class="custom-control-label" for="{{card.id}}"  (click)="modal(content)"></label>
            </div>
        </div>
        <div>
            {{ card.name }}
        </div>        
        <p>
            <button type="button" class="btn btn-primary" (click)="collapse.toggle(); moreInfo(card.id);" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample">
              {{more}} info
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="text-center mt-5" *ngIf="!infoList.pic || infoList.id != card.id">
                    <div class="spinner-grow text-success" role="status"></div>
                    <div>
                        <strong>Loading...</strong>
                    </div>
                </div>
                <div class="card-body" *ngIf="infoList.pic && infoList.id == card.id">
                    <img src="{{infoList.pic}}" alt="coin pic">
                    <div>
                        <span class="text-warning font-weight-bold">&#36;</span> {{infoList.usd}}
                        <br>
                        <span class="text-warning font-weight-bold">&#8364;</span> {{infoList.eur}}
                        <br>
                        <span class="text-warning font-weight-bold">&#8362;</span> {{infoList.ils}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Hi there!</h3>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>You can select only 5!</h4>
    </div>
    <h5>You selected:</h5>
    <ul>
        <li *ngFor="let id of switchList">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{ id }}" (change)="setSwitch()" checked="true">
                <label class="custom-control-label" for="{{ id }}" (click)="d()"></label>
                {{ id }}
            </div>
        </li>
    </ul>
  </ng-template>