<div class="container-fluid">
    <h3>This is a project to study</h3>
    <h5>HTML + CSS</h5>
    <ul>
        <li>Bootstrap</li> 
    </ul>
    <h5>Anuglar</h5>
    <ul>
        <li>components, component input</li>
        <li>Component output, pipe, JS Crash course, interface</li>
        <li>nothing happened</li>
        <li>Moudle (overview)</li>
        <li>service (sync)</li>
        <li>ngmodel</li>
        <li>Template variables (#)</li>
        <li>Routing RxJS</li>
        <li>Forms</li>
    </ul>
</div>
<footer class="container-fluid">
    <p>
        <img src="assets\myPic.jpg" alt="my pic" width="300" height="360">
        <br>
        Name: Moshe Greenberg
    </p>
    <address>
        Harif 10/17, Kiryat yearim<br>
        <a href="mailto:moshegreenberg6@gmail.com" class="mr-5">Email</a>
        <a href="tel:0548434107">Call</a>
    </address>
    <small><strong>All rights reserved&#169;</strong></small>
</footer>